/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body{
    background-image: url(../img/sfondo.png);
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}
/* HEADER */
header{
    margin: 0.8rem;
    padding: 1.5rem;
    background: linear-gradient(180deg, #009ec3, #036c88);
    box-shadow: 2px 2px 10px #797777;
    color: white;
}
nav ul li{
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
}
li a{
    text-decoration: none;
    color: white;
}
li a::before{
    content: "\21D2";
    
}
li a::after{
    content: "\21D0";
}
header p{
    text-align: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.8rem;
}
/* MAIN */
main{
    margin: 0.8rem;
    background-color: white;
    box-shadow: 2px 2px 10px #797777;
}
#article1{
    margin: 0.8rem;
}
h1{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 2rem 0;
}
#article1 span{
    font-size: 0.8rem;
    color: #a2a29c;
}
#article1 p{
    margin: 0.8rem 0;
    line-height: 1.5rem;
}
ul,ol{
    margin-left: 2rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
}
code{
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 7px;
}
p{
    font-size: 0.8rem;
}

/* TABELLE */
caption{
    font-weight: 400;
    font-style: italic;
}
th{
    background-color: #3b6dc6;
    font-size: 0.8rem;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    color: white;
}
td{
    text-align: center;
    padding: 0.8rem;
}
table tr:nth-last-of-type(even){
    background-color: lightgray;
}
iframe{
    border-radius: 25px;
    margin: 0.8rem;
}
h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
/* FORM */
section{
    background-color: #e5e1e3;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
fieldset input{
    width: 9rem;
    height: 1.3rem;
    border-style:none;
}
fieldset button{
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: bold 0.8rem;
    color: #fff;
    padding: 0.1rem 0.5rem;
    border: solid 1px #0076a3;
    background: #3862c0;
}

/* ELEMENTI NELL' ASIDE */
aside{
    margin-bottom: 2rem;
}
aside div{
    background-color: #e5e1e3;
    padding: 1rem;
    margin: 0.8rem;
    border-style: solid;
    border-color: #d4d6d7;
    border-width: 1px;
}
aside div p,a{
    margin: 0.5rem;
}
.date{
    text-align: right;
    margin-top: 1rem;
}


/* FOOTER */

footer{
    margin: 0.8rem;
    text-align: center;
    padding: 1rem;
    background: linear-gradient(180deg, #009ec3, #036c88);
    box-shadow: 2px 2px 10px #797777;
    color: white;
}
footer p,address{
    font-size: 0.9rem;

}

